{% extends 'app/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bid.css' %}">
<div class="bid">
	<main>
		<div class="bid-des">
			<div class="car-info">
				<div class="car-image">
					{% with related_object=car.photo_set.first %}
					<img src="/{{related_object.image}}">
					{% endwith %}
				</div>
				<div class="info">
					<h2>{{car.make}} {{car.model}} {{car.body_style}}</h2>
					<p>{{car.transmission_speed}}-speed {{car.transmission}}, {{car.location}}, Run {{car.mileage}}</p>
					<div class="ends-in">
						<h4>{{car.end_at|timeuntil}}</h4>
					</div>
				</div>
			</div>
			<div class="bid-info">
				<h4>Highest bid:</h4>
				<h1><span class="bid-log" id="{{car.id}}">${{car.bid}}</span></h1>
				<script>
					let group_name = 'biders'
					
					let ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + group_name + '/')
			
					ws.onopen = function() {
						console.log('WebScoket Connection open...')
					}
					ws.onmessage = function(event) {
						console.log('Message Received from Server', event)
						const data = JSON.parse(event.data)
						let bids = document.querySelectorAll('.bid-log')
						bids.forEach((bid) => {
							if(bid.id == data['msg']['bid_id']){
								bid.innerText = '$' + data['msg']['bid_value']
							}
						})
					}
					ws.onclose = function(event) {
						console.log('WS Connection closed...', event)
					}
				</script>
				<form class="bid-form" style="width: 100%; display: flex; flex-direction: column; gap:10px;">
					{% csrf_token %}
					<div class="terms-and-policies">
						<input type="checkbox" name="terms-and-policies" id="terms-and-policies" required>
						<label for="terms-and-policies">I accept the terms and policies of the authorities</label>
					</div>
					<div class="buttons">
						<button type="button" class="bid-option" name="bid"> Bid ${{car.bid|sum_number:100}} </button>
						<button type="button" class="bid-option" name="bid"> Bid ${{car.bid|sum_number:200}} </button>
					</div>
					<button type="submit" name="button" class="place-bid-btn">Place Bid</button>
				</form>
				{{car.id|json_script:"car-id"}}
				<script>
						let place_bid_form = document.querySelector('.bid-form')
						let place_bid_btn = document.querySelector('.place-bid-btn')
						let options = document.querySelectorAll('.bid-option')

						let select_bid = 0;

						options[0].onclick = function(){
							select_bid = parseInt(options[0].innerText.replace('Bid', '').replace('$', ''))
							options[0].classList.add('selected')
							options[1].classList.remove('selected')
						}
						options[1].onclick = function(){
							select_bid = parseInt(options[1].innerText.replace('Bid', '').replace('$', ''))
							options[1].classList.add('selected')
							options[0].classList.remove('selected')
						}
						let car_id = JSON.parse(document.querySelector('#car-id').textContent)
						place_bid_form.addEventListener('submit', (e) => {
							e.preventDefault()
							let formData = new FormData(place_bid_form)
							formData.append('bid_value', select_bid)
							console.log(Array.from(formData))
							fetch('/place-bid/' + car_id + '/', {
								method: 'POST',
								body: formData
							})
							.then((res) => res.json())
							.then((data) => {
								if(data['success']){
									place_bid_btn.innerText = data['success']
									place_bid_btn.style.color = 'lightgreen'
								}
								if(data['error']){
									place_bid_btn.innerText = data['error']
									place_bid_btn.style.color = 'red'
								}
							})
							.then(err => {
								console.log(err)
							})
						})	
				</script>
			</div>
		</div>
	</main>
</div>
{% endblock content %}
