{% extends 'app/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/car.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


<div class="car">
	<main>
		<div class="heading">
			<h2>{{car.make}} {{car.model}}
				<div class="buttons">
					<i class="far fa-star"></i>
				</div>
			</h2>
			<p>{{car.engine}}, {{car.transmission_speed}}-speed {{car.transmission}}, Run {{car.mileage}}</p>
			<div class="share">
				<i class="fas fa-share-alt"><span>Share</span></i>
			</div>
		</div>
		<div class="images">
			<div class="car-images">
				<h3>Exterior images</h3>
				<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
					<div class="swiper-wrapper">
						{% with related_object=car.photo_set.all %}
							{% for image in related_object %}
								{% if image.type == 'Exterior' %}
									<div class="swiper-slide">
										<img src="/{{image.image}}" />
									</div>
								{% endif %}
							{% endfor %}
						{% endwith %}
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>

				<div thumbsSlider="" class="swiper mySwiper">
					<div class="swiper-wrapper">
						{% with related_object=car.photo_set.all %}
							{% for image in related_object %}
								{% if image.type == 'Exterior' %}
									<div class="swiper-slide">
										<img src="/{{image.image}}" />
									</div>
								{% endif %}
							{% endfor %}
						{% endwith %}
					</div>
				</div>
			</div>
			<div class="car-images">
				<h3>Interior images</h3>
				<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper4">
					<div class="swiper-wrapper">
						{% with related_object=car.photo_set.all %}
							{% for image in related_object %}
								{% if image.type == 'Interior' %}
									<div class="swiper-slide">
										<img src="/{{image.image}}" />
									</div>
								{% endif %}
							{% endfor %}
						{% endwith %}
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>

				<div thumbsSlider="" class="swiper mySwiper3">
					<div class="swiper-wrapper">
						{% with related_object=car.photo_set.all %}
							{% for image in related_object %}
								{% if image.type == 'Interior' %}
									<div class="swiper-slide">
										<img src="/{{image.image}}" />
									</div>
								{% endif %}
							{% endfor %}
						{% endwith %}
					</div>
				</div>
			</div>
		</div>
		<div class="car-description">
			<div class="bid-info">
				<div class="bid-info-bar">
					<div class="info">
						<p><i class="far fa-clock"></i><span>Time left</span> <span class="time" id="{{car.id}}">{{car.time}}</span></p>
						<p><span>High Bid</span> <span style="color:#fff" class="bid-log" id="{{car.id}}">${{car.bid}}</span></p>
						<p><span>Bids</span> 13</p>
						<p><span>Questions</span> 11</p>
					</div>
					<a href="{% url 'place-bid' car.id %}"><button class="place-bid-btn"> Place Bid </button></a>
				</div>
				<script>
					let countdownElements = document.querySelectorAll('.time')
		
					countdownElements.forEach((el, index) => {
						updateCountdown(el, index)
					})

					function updateCountdown(el, index){
						let countdownElement = el
						var totalSeconds = parseInt(el.innerText)

						var countdownInterval = setInterval(function() {
							if (totalSeconds < 0) {
								console.log(countdownElement.id);
								fetch('/remove-bid/' + countdownElement.id + '/')
								.then(res => res.json())
								.then(data => console.log(data))
								.catch(err => console.log(err))
								countdownElement.innerText = 'Auction ended'
								clearInterval(countdownInterval);
							} else {
								var remainingHours = Math.floor(totalSeconds / 3600);
								var remainingMinutes = Math.floor((totalSeconds % 3600) / 60);
								var remainingSeconds = totalSeconds % 60;

								countdownElement.innerText = remainingHours.toString().padStart(2, "0") + ":" +
																						remainingMinutes.toString().padStart(2, "0") + ":" +
																						remainingSeconds.toString().padStart(2, "0")
								if(totalSeconds < 3600){
									countdownElement.style.color = 'rgb(250, 46, 46)'
								}
								else{
									countdownElement.style.color = '#fff'
								}

								totalSeconds--;
							}
						}, 1000);
					}

					let group_name = 'biders'
					let ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + group_name + '/')
					ws.onopen = function() {
						console.log('WebScoket Connection open...')
					}
					ws.onmessage = function(event) {
						console.log('Message Received from Server', event)
						const data = JSON.parse(event.data)
						let bids = document.querySelectorAll('.bid-log')
						bids.forEach((bid) => {
							if(bid.id == data['msg']['bid_id']){
								bid.innerText = '$' + data['msg']['bid_value']
							}
						})
					}
					ws.onclose = function(event) {
						console.log('WS Connection closed...', event)
					}
				</script>
				<table>
					<tr>
						<th>Make</th>
						<td>{{car.make}}</td>
						<th>Engine</th>
						<td>{{car.engine}}</td>
					</tr>
					<tr>
						<th>Model</th>
						<td>{{car.model}}</td>
						<th>Drivetrain</th>
						<td>{{car.drivetrain}}</td>
					</tr>
					<tr>
						<th>Seller</th>
						<td>{{car.seller.username}}</td>
						<th>Transmission</th>
						<td>{{car.transmission}} ({{car.transmission_speed}})</td>
					</tr>
					<tr>
						<th>Location</th>
						<td>{{car.location}}</td>
						<th>Exterior Color</th>
						<td>{{car.exterior_color}}</td>
					</tr>
					<tr>
						<th>VIN</th>
						<td>{{car.vin}}</td>
						<th>Interior Color</th>
						<td>{{car.interior_color}}</td>
					</tr>
					<tr>
						<th>Mileage</th>
						<td>{{car.mileage}}km Shown – TMU</td>
						<th>Title Status</th>
						<td>{{car.title_status}}</td>
					</tr>
					<tr>
						<th>Body Style</th>
						<td>{{car.body_style}}</td>
						<th>Seller Type</th>
						<td>{{car.seller_type}}</td>
					</tr>
				</table>
				<div class="seller-saying">
					<div class="seller-image">
						<img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
					</div>
					<div class="saying">
						<h2>{{car.seller.username}}'s Saying</h2>
						<p>{{car.seller_note}}</p>
					</div>
				</div>
				<div class="descriptions">
					<div id="div" class="high-lights">
						<h2>Highlights</h2>
						<ul>
							{% for line in car.highlight|split %}
								<li>{{line}}</li>
							{% endfor %}
						</ul>
					</div>
					<div id="div" class="equipments">
						<h2>Equipments</h2>
						<ul>
							{% for line in car.equipment|split %}
								<li>{{line}}</li>
							{% endfor %}
						</ul>
					</div>
					<div id="div" class="modifications">
						<h2>Modifications</h2>
						<ul>
							{% for line in car.modification|split %}
								<li>{{line}}</li>
							{% endfor %}
						</ul>
					</div>
					<div id="div" class="known-flaws">
						<h2>Known Flaws</h2>
						<ul>
							{% for line in car.known_flaw|split %}
								<li>{{line}}</li>
							{% endfor %}
						</ul>
					</div>
					<div id="div" class="recent-service-history">
						<h2>Recent Service History</h2>
						<ul>
							<ul>
								{% for line in car.recent_service_history|split %}
									<li>{{line}}</li>
								{% endfor %}
							</ul>
						</ul>
					</div>
					<div class="question-answers">
						<h2>Seller Q&A <span>(3)</span> <button class="ask-question-btn">Ask a question</button></h2>
						<div class="swiper mySwiper5">
						      <div class="swiper-wrapper">
						        <div class="swiper-slide">
									<div class="user">
										<img src="https://img.freepik.com/free-photo/gorgeous-white-girl-with-long-wavy-hair-chilling-autumn-day-outdoor-portrait-interested-ginger-female-model-with-cup-coffee_197531-11735.jpg?w=2000">
										<h5>Alexi Michel</h5>
									</div>
									<div class="question">
										<h3><span>Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<br>
									<div class="user">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpc9VXBng2yufswCRPCs1gTyL_sO_cm8N6yA&usqp=CAU">
										<h5>Mahadi Hasan Taronno</h5>
									</div>
									<div class="question">
										<h3><span>A: </span>Lorem ipsum fsdfdf consecteturfdsd consectetur consectetur ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<div class="overlay">
										<div class="contents">
											<button><i class="fas fa-long-arrow-alt-up"></i> 2</button>
											<a href="">View answer</a>
										</div>
									</div>
						        </div>
						        <div class="swiper-slide">
									<div class="user">
										<img src="https://img.freepik.com/free-photo/gorgeous-white-girl-with-long-wavy-hair-chilling-autumn-day-outdoor-portrait-interested-ginger-female-model-with-cup-coffee_197531-11735.jpg?w=2000">
										<h5>Alexi Michel</h5>
									</div>
									<div class="question">
										<h3><span>Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<br>
									<div class="user">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpc9VXBng2yufswCRPCs1gTyL_sO_cm8N6yA&usqp=CAU">
										<h5>Mahadi Hasan Taronno</h5>
									</div>
									<div class="question">
										<h3><span>A: </span>Lorem ipsum fsdfdf consecteturfdsd consectetur consectetur ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<div class="overlay">
										<div class="contents">
											<button><i class="fas fa-long-arrow-alt-up"></i> 2</button>
											<a href="">View answer</a>
										</div>
									</div>
						        </div>
						        <div class="swiper-slide">
									<div class="user">
										<img src="https://img.freepik.com/free-photo/gorgeous-white-girl-with-long-wavy-hair-chilling-autumn-day-outdoor-portrait-interested-ginger-female-model-with-cup-coffee_197531-11735.jpg?w=2000">
										<h5>Alexi Michel</h5>
									</div>
									<div class="question">
										<h3><span>Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<br>
									<div class="user">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpc9VXBng2yufswCRPCs1gTyL_sO_cm8N6yA&usqp=CAU">
										<h5>Mahadi Hasan Taronno</h5>
									</div>
									<div class="question">
										<h3><span>A: </span>Lorem ipsum fsdfdf consecteturfdsd consectetur consectetur ipsum dolor sit amet, consectetur adipiscing elit?</h3>
									</div>
									<div class="overlay">
										<div class="contents">
											<button><i class="fas fa-long-arrow-alt-up"></i> 2</button>
											<a href="">View answer</a>
										</div>
									</div>
						        </div>
						      </div>
						      <div class="swiper-button-next"></div>
						      <div class="swiper-button-prev"></div>
						  </div>
					</div>
				</div>
			</div>
			<div class="other-auctions">
				<h2>New Arivals</h2>
				<div class="car">
					<a href="">
						<div class="images">
							<div class="image" style="background: url('https://images.pexels.com/photos/358070/pexels-photo-358070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
								<div class="tag" id="tag">
									<p>New</p>
								</div>
							</div>
							<div class="extra-images">
								<div class="exterior-image" style="background: url('https://www.corvetteblogger.com/images/content/2019-2/080319_19b.jpg')  no-repeat center center/cover"></div>
								<div class="interior-image"
								 style="background: url('https://di-uploads-pod4.dealerinspire.com/garberchevymidlandredesign/uploads/2020/11/New-Chevrolet-Corvette-Interior-Features-Overview-Midland-MI.jpg')  no-repeat center center/cover"></div>
							</div>
						</div>
						<div class="info">
							<div class="texts">
								<h4>2018 Black Chevrolet Corvette</h4>
								<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
								<ul>
									<li>Accident-free Carfax history report</li>
									<li>arman/Kardon premium sound system</li>
									<li>18-inch Style 67 alloy wheels</li>
								</ul>
								<p class="location">Wakefield, MA 01880</p>
							</div>
							<div class="buttons">
								<i class="far fa-star"></i>
							</div>
						</div>
					</a>
				</div>
				<div class="car">
					<a href="">
						<div class="images">
							<div class="image" style="background: url('https://images.pexels.com/photos/1149137/pexels-photo-1149137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
								<div class="tag" id="tag">
									<p>New</p>
								</div>
							</div>
							<div class="extra-images">
								<div class="exterior-image"
								 style="background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/one-millionth-tacoma-1624892227.jpg?crop=1.00xw:0.897xh;0,0&resize=640:*')  no-repeat center center/cover"></div>
								<div class="interior-image" style="background: url('https://www.andymohrford.com/static/dealer-16311/ranger_interior.jpg')  no-repeat center center/cover"></div>
							</div>
						</div>
						<div class="info">
							<div class="texts">
								<h4>2020 Toyota TACOMA</h4>
								<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
								<ul>
									<li>Accident-free Carfax history report</li>
									<li>arman/Kardon premium sound system</li>
									<li>18-inch Style 67 alloy wheels</li>
								</ul>
								<p class="location">Wakefield, MA 01880</p>
							</div>
							<div class="buttons">
								<i class="far fa-star"></i>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>
</div>
<script src="{% static 'js/car.js' %}" charset="utf-8"></script>
{% endblock content %}
