{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="home">
	<main>
		<h2>Auctions</h2>
		<div class="filter">
			<div class="filter-section">
				<ul>
					<li>Make <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Toyota</li>
							<li>Ford</li>
							<li>Honda</li>
						</ul>
					</li>
					<li>Transmission <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Auto</li>
							<li>Menual</li>
						</ul>
					</li>
					<li>Body Style <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Coupe</li>
							<li>Convertible</li>
							<li>Sedan</li>
							<li>Hatchback</li>
							<li>SUV/CUV</li>
							<li>Truck</li>
							<li>Van/Minivan</li>
							<li>Wagon</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="sort">
				<ul>
					<li class="active">Ending soon</li>
					<li>Newly listed</li>
					<li>Low mileage</li>
				</ul>
			</div>
		</div>
		<div class="cars">
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/248687/pexels-photo-248687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag" id="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 01:32:02</p>
							<p><span id="tag-name">Bid</span> $140,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>1998 Cevy Impala GM2000 Classic Custom</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- DUMMY DATA START | CARS-->

			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 08:32:02</p>
							<p><span id="tag-name">Bid</span> $90,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2019 White Land Rover Range Rover</h4>
							<p class="description">$6,000+ Service in June 2021, California-Kept, $32,150 in Options</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 12:32:02</p>
							<p><span id="tag-name">Bid</span> $15,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2009 Blue BMW M3 Sedan</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/241316/pexels-photo-241316.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 1 Day </p>
							<p><span id="tag-name">Bid</span> $58,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2015 Silver Mercedes Benz AMG-GT Coupe</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/446389/pexels-photo-446389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 2 Day</p>
							<p><span id="tag-name">Bid</span> $46,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2009 Golder Mercedes Benz AMG-GT Sedan</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/164654/pexels-photo-164654.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 7 Day</p>
							<p><span id="tag-name">Bid</span> $146,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2020 Orange Mercedes Benz G63</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>
			<div class="car">
				<a href="">
					<div class="image" style="background: url('https://images.pexels.com/photos/244206/pexels-photo-244206.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
						<div class="tag">
							<p><i id="tag-name" class="far fa-clock"></i> 7 Day</p>
							<p><span id="tag-name">Bid</span> $146,500</p>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2020 Blue Audi A6 Sedan</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- DUMMY DATA END | CARS -->

		</div>
		<button class="action-results-btn" type="button" name="button"> View Action Results </button>
	</main>
	<aside>
		<div class="youtube-link">
			<iframe src="https://www.youtube-nocookie.com/embed/gNFWhMMD9sE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h4>AutoTrader is the best marketplace for modern enthusiast cars.</h4>
			<a href=""><button type="button" name="button"> More about us</button></a>
		</div>
		<div class="new-cars">
			<h1>New Arivals</h1>
			<div class="car">
				<a href="">
					<div class="images">
						<div class="image" style="background: url('https://images.pexels.com/photos/1149137/pexels-photo-1149137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
							<div class="tag" id="tag">
								<p>New</p>
							</div>
						</div>
						<div class="extra-images">
							<div class="exterior-image" style="background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/one-millionth-tacoma-1624892227.jpg?crop=1.00xw:0.897xh;0,0&resize=640:*')  no-repeat center center/cover">
							</div>
							<div class="interior-image" style="background: url('https://www.andymohrford.com/static/dealer-16311/ranger_interior.jpg')  no-repeat center center/cover"></div>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2020 Toyota TACOMA</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<ul>
								<li>Accident-free Carfax history report</li>
								<li>arman/Kardon premium sound system</li>
								<li>18-inch Style 67 alloy wheels</li>
							</ul>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- NEW CAR DUMMY DATA START -->

			<div class="car">
				<a href="">
					<div class="images">
						<div class="image" style="background: url('https://images.pexels.com/photos/358070/pexels-photo-358070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
							<div class="tag" id="tag">
								<p>New</p>
							</div>
						</div>
						<div class="extra-images">
							<div class="exterior-image" style="background: url('https://www.corvetteblogger.com/images/content/2019-2/080319_19b.jpg')  no-repeat center center/cover"></div>
							<div class="interior-image"
							 style="background: url('https://di-uploads-pod4.dealerinspire.com/garberchevymidlandredesign/uploads/2020/11/New-Chevrolet-Corvette-Interior-Features-Overview-Midland-MI.jpg')  no-repeat center center/cover"></div>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2018 Black Chevrolet Corvette</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<ul>
								<li>Accident-free Carfax history report</li>
								<li>arman/Kardon premium sound system</li>
								<li>18-inch Style 67 alloy wheels</li>
							</ul>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- NEW CAR DUMMY DATA END -->

		</div>
	</aside>
</div>
{% endblock content %}
