{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="home">
	<main id="auctions">
		<h2>Auctions</h2>
		<div class="filter">
			<div class="filter-section">
				<ul>
					<li>Make <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Toyota</li>
							<li>Ford</li>
							<li>Honda</li>
							<li>Jeep</li>
						</ul>
					</li>
					<li>Transmission <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Auto</li>
							<li>Menual</li>
						</ul>
					</li>
					<li>Body Style <i class="fas fa-chevron-down"></i>
						<ul>
							<li>All</li>
							<li>Coupe</li>
							<li>Convertible</li>
							<li>Sedan</li>
							<li>Hatchback</li>
							<li>SUV/CUV</li>
							<li>Truck</li>
							<li>Van/Minivan</li>
							<li>Wagon</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="sort">
				<ul>
					<li class="active">Ending soon</li>
					<li>Newly listed</li>
					<li>Low mileage</li>
				</ul>
			</div>
		</div>

	
		<div class="cars">
			{% for car in cars %}
				{% if car.on_auction %}
				{% with related_object=car.photo_set.first %}
				<div class="car">
					<a href="{% url 'car' car.id %}">
						<div class="image" style="background: url(../{{related_object.image}}) no-repeat center center/cover">
							<div class="tag" id="tag">
								<p><i id="tag-name" class="far fa-clock"></i> <span class="time" id="{{car.id}}">{{car.time}}</span></p>
								<p><span id="tag-name">Bid</span> <span class="bid-log" id="{{car.id}}">${{car.bid}}</span></p>
							</div>
						</div>
						<div class="info">
							<div class="texts">
								<h4>{{car.make}} {{car.model}}</h4>
								<p class="description">{{car.engine}}, {{car.transmission_speed}}-speed {{car.transmission}}, Run {{car.mileage}}km</p>
								<p class="location">{{car.location}}</p>
							</div>
							<div class="buttons">
								<i class="far fa-star"></i>
							</div>
						</div>
					</a>
				</div>
				{% endwith %}
				{% endif %}
			{% endfor %}
			</div>
			{{car.end_at|json_script:"end_time"}}
			<script>
				let countdownElements = document.querySelectorAll('.time')
				let cars = document.querySelectorAll('.car')
				let tags = document.querySelectorAll('.tag')

				countdownElements.forEach((el, index) => {
					updateCountdown(el, index)
				})

				function updateCountdown(el, index){
					let countdownElement = el
					var totalSeconds = parseInt(el.innerText)

					var countdownInterval = setInterval(function() {
						if (totalSeconds < 0) {
							console.log(countdownElement.id);
							fetch('/remove-bid/' + countdownElement.id + '/')
							.then(res => res.json())
							.then(data => console.log(data))
							.catch(err => console.log(err))
							countdownElement.innerText = 'Auction ended'
							cars[index].style.display = 'none'
							clearInterval(countdownInterval);
						} else {
							var remainingHours = Math.floor(totalSeconds / 3600);
							var remainingMinutes = Math.floor((totalSeconds % 3600) / 60);
							var remainingSeconds = totalSeconds % 60;

							countdownElement.innerText = remainingHours.toString().padStart(2, "0") + ":" +
																					 remainingMinutes.toString().padStart(2, "0") + ":" +
																					 remainingSeconds.toString().padStart(2, "0")
							if(totalSeconds < 3600){
								tags[index].style.background = 'rgba(200, 30, 30, .8)'
							}
							else{
								tags[index].style.background = 'rgba(0, 0, 0, 0.5);'
							}

							totalSeconds--;
						}
					}, 1000);
				}
	
				let group_name = 'biders'
				
				let ws = new WebSocket('ws://' + window.location.host + '/ws/ac/' + group_name + '/')
		
				ws.onopen = function() {
					console.log('WebScoket Connection open...')
				}
				ws.onmessage = function(event) {
					console.log('Message Received from Server', event)
					const data = JSON.parse(event.data)
					let bids = document.querySelectorAll('.bid-log')
					bids.forEach((bid) => {
						if(bid.id == data['msg']['bid_id']){
							bid.innerText = '$' + data['msg']['bid_value']
						}
					})
				}
				ws.onclose = function(event) {
					console.log('WS Connection closed...', event)
				}
			</script>
		<button class="action-results-btn" type="button" name="button"> View Action Results </button>
	</main>
	<aside>
		<div class="youtube-link">
			<iframe src="https://www.youtube-nocookie.com/embed/gNFWhMMD9sE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<h4>AutoTrader is the best marketplace for modern enthusiast cars.</h4>
			<a href=""><button type="button" name="button"> More about us</button></a>
		</div>
		<div class="new-cars">
			<h1>New Arivals</h1>
			<div class="car">
				<a href="">
					<div class="images">
						<div class="image" style="background: url('https://images.pexels.com/photos/1149137/pexels-photo-1149137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
							<div class="tag" id="tag">
								<p>New</p>
							</div>
						</div>
						<div class="extra-images">
							<div class="exterior-image" style="background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/one-millionth-tacoma-1624892227.jpg?crop=1.00xw:0.897xh;0,0&resize=640:*')  no-repeat center center/cover">
							</div>
							<div class="interior-image" style="background: url('https://www.andymohrford.com/static/dealer-16311/ranger_interior.jpg')  no-repeat center center/cover"></div>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2020 Toyota TACOMA</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<ul>
								<li>Accident-free Carfax history report</li>
								<li>arman/Kardon premium sound system</li>
								<li>18-inch Style 67 alloy wheels</li>
							</ul>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- NEW CAR DUMMY DATA START -->

			<div class="car">
				<a href="">
					<div class="images">
						<div class="image" style="background: url('https://images.pexels.com/photos/358070/pexels-photo-358070.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center/cover">
							<div class="tag" id="tag">
								<p>New</p>
							</div>
						</div>
						<div class="extra-images">
							<div class="exterior-image" style="background: url('https://www.corvetteblogger.com/images/content/2019-2/080319_19b.jpg')  no-repeat center center/cover"></div>
							<div class="interior-image"
							 style="background: url('https://di-uploads-pod4.dealerinspire.com/garberchevymidlandredesign/uploads/2020/11/New-Chevrolet-Corvette-Interior-Features-Overview-Midland-MI.jpg')  no-repeat center center/cover"></div>
						</div>
					</div>
					<div class="info">
						<div class="texts">
							<h4>2018 Black Chevrolet Corvette</h4>
							<p class="description">1 Owner, ~26,200 Miles, 6-Speed Manual, V8 Power, 2SS Package</p>
							<ul>
								<li>Accident-free Carfax history report</li>
								<li>arman/Kardon premium sound system</li>
								<li>18-inch Style 67 alloy wheels</li>
							</ul>
							<p class="location">Wakefield, MA 01880</p>
						</div>
						<div class="buttons">
							<i class="far fa-star"></i>
						</div>
					</div>
				</a>
			</div>

			<!-- NEW CAR DUMMY DATA END -->

		</div>
	</aside>
</div>
{% endblock content %}
